* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

$primary: #E19A28;
$secondary: #ED6336;
$tertiary: #C4C4C4;
$fourth: #ED744A;
$fifth: #706A6A;
$white: #FFFFFF;


.flex-between{
    display: flex;
    justify-content: space-between; 
}

.roboto400{
    font-family:"Roboto";
    font-weight: 400;
}

.poppins400{
    font-family: "Poppins";
    font-weight: 400;
}

.poppins600{
    font-family: "Poppins";
    font-weight: 600;
}

.poppins700{
    font-family: "Poppins";
    font-weight: 700;
}

.upper{    
    letter-spacing: -0.005em;
    text-transform: uppercase;
}

.container{
    width: 90%;
    // max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

header{
    background: $white;
    .container{
        @extend .flex-between;
        .main-logo{
            .logo-img{
                margin: 40px 0 70px 5px;
            }
        }
        .menu-icon{
            display: none;
        }
        .menu{
            margin: 88px 0;
            a{
                @extend .roboto400;
                margin: 0 20px;
                color: #999999;
                display: inline-block;
                text-decoration: none;
                font-size: 20px;
                line-height: 23px;
                align-items: center;
                text-align: center;
                letter-spacing: -0.01em;
                text-transform: uppercase;
            }
            .we{
                display: none;
            }
            .transparencia{
                display: none;
            }
            .sum{
                border: 2px solid $tertiary;
                border-radius: 16px;
                padding: 5px 12px;
            }
        }
    }
}

main{
    .be-part{
        background: $tertiary;
        padding-bottom: 50px;
        .container{
            @extend .flex-between;
        }
        .partner-text{
            width: 1000px;
            padding-top: 50px;
            h1{
                @extend .upper;
                @extend .poppins700;
                color: $fourth;
                font-size: 90px;
                line-height: 103.69%;
                align-items: center;
                margin: 55px 0 10px 0
            }
            p{
                @extend .roboto400;
                @extend .upper;
                font-size: 23px;
                // line-height: 103.69%;
                width: 600px;
                color: #625F5F;
            }
            a{
                @extend .roboto400;
                font-size: 24px;
                color: $fourth;
                text-decoration: none;
                border: 1px solid $fourth;
                border-radius: 18px;
                padding: 5px 30px;
                &:hover{
                    background-color:#be9d86;
                }
                &:active{
                    background-color: #FFFFFF;
                }
                
            }
        }
        .be-partner{
            background: $primary;
            margin: 40px 80px 40px 10px;
            border-radius: 20px;
            width: 550px;
            .login{
                @extend .poppins400;
                text-align: center;
                color: $white;
                font-size: 18px;
                padding-top: 30px;
                input{
                    border: 0;
                }    
                .field{
                    width: 310px;
                    padding: 10px;
                    margin-top: 20px;
                    background: $white;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    }
                .button{
                    @extend .roboto400;
                    width: 250px;
                    background: #999999;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 20px;
                    text-align: center;
                    color:$white;
                    font-size: 26px;
                    margin-top: 50px;
                    }
            }
        }
    }
    .food-rations{
        background: white;
        padding-top: 30px;
        .container{
            @extend .flex-between;
            .logo{
                .logo2{
                    margin: 33px 100px 0 0;
                }

            }
        }
        .food{
            .text-photo{
                padding:20px;
            }
        }
    }
    .our-core{
        background: $tertiary;
        .container{
            @extend .flex-between;
            .description{
                width: 40%;
                margin-right: 15px;
                h2{
                    color:$fourth;
                    font-family: "Roboto";
                    font-weight: 700;
                    font-size: 55px;
                    line-height: 103.69%;
                }
                p{
                    @extend .roboto400;
                    font-size: 20px;
                    align-items: center;
                    letter-spacing: -0.005em;
                    color: #625F5F;
                }
            }
            .photos{
                .photo{
                    margin-right: 0;
                }
            }
        }
    }
    .payment{
        background:$white;
        padding-bottom: 60px;
        .container{
            h3{
                @extend .upper;
                @extend .poppins700;
                font-size: 55px;
                line-height: 103.69%;
                text-align: center;
                color: $primary;
            }
            .container-payment{
                @extend .flex-between;
                flex-wrap: wrap;
                .card1{
                    margin-top: 25px;
                    width: 300px;
                    border: 4px solid $tertiary;
                    border-radius: 20px;
                    padding-bottom: 45px;
                    .tittle1{
                        h4{
                            @extend .upper;
                            @extend .poppins600;
                            width: 250px;
                            margin-left: 20px;
                            font-size: 25px;
                            line-height: 103.69%;
                            text-align: center;
                            color: $fifth;
                        }
                    }
                    .check{
                        margin-left: 30px;
                        p{
                            @extend .roboto400;
                            color: $fourth;
                            font-size: 16px;
                        }
                    }
                    .money{
                        @extend .poppins600;
                        text-align: center;
                        font-size: 40px;
                        .amount{
                            color:$fifth;
                        }
                    }
                    .button2{
                        text-align: center;
                        .donate{
                            @extend .upper;
                            @extend .roboto400;
                            font-size: 20px;
                            text-decoration: none;
                            line-height: 103.69%;
                            color: $fourth;
                            border: 1px solid $fourth;
                            border-radius: 10px;
                            padding: 15px 60px;
                        }
                    }
                }
                .card2{
                    margin: 0 20px;
                    width: 300px;
                    background: $primary;
                    border: 4px solid $primary;
                    border-radius: 20px;
                    padding-bottom: 45px;
                    .tittle2{
                        h4{
                            @extend .upper;
                            @extend .poppins600;
                            width: 250px;
                            margin-left: 20px;
                            font-size: 25px;
                            line-height: 103.69%;
                            text-align: center;
                            color: $white;
                        }
                    }
                    .check{
                        margin-left: 30px;
                        p{  
                            @extend .roboto400;
                            color: $white;
                            font-size: 16px;
                        }
                    }
                    .money{
                        @extend .poppins600;
                        text-align: center;
                        font-size: 40px;
                        margin-top: 60px;
                        .amount{
                            color:$white;
                        }
                    }
                    .button2{
                        text-align: center;
                        
                        .donate{
                            @extend .upper;
                            @extend .roboto400;
                            color: $white;
                            background: $fourth;
                            font-size: 20px;
                            text-decoration: none;
                            line-height: 103.69%;
                            border: 1px solid $fourth;
                            border-radius: 10px;
                            padding: 15px 60px;
                        }
                    }
                }
            }
        }
    }
    .features{
        background: $secondary;
        .container{
            @extend .flex-between;
            .card{
                @extend .upper;
                @extend .poppins400;
                color:$white;
                font-size: 17px;
                // line-height: 103.69%;
                text-align: center;
                margin-top: 65px;
                .card-text{
                    width: 285px;
                } 

            }
        }   
    }
    .data{
        background:$white;
        .container{
            .graphics{
                display: flex;
                width: 70%;
                height: 400px;
                background: $tertiary;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                margin: 200px 200px;
                .table{
                    @extend .upper;
                    @extend .poppins400;
                    width: 300px;
                    margin: 100px 0 0 50px;
                    text-align: center;
                    font-size: 11px;
                    line-height: 103.69%;
                    color: #5B5B5B;
                    .data-img{
                        width: 100%;
                    }
                }
                .pacman{
                    @extend .upper;
                    @extend .poppins400;
                    width: 300px;
                    margin: 100px 20px 0 120px;
                    text-align: center;
                    font-size: 11px;
                    line-height: 103.69%;
                    color: #5B5B5B;
                    .circle-img{
                        width: 45%;
                    }
                }
            }
        }
    }
    .hashtag{
        background: linear-gradient(to right, $primary, $secondary );
        background-color: $secondary;
        .container{
            .text-hashtag{
                @extend .poppins700;
                font-size: 60px;
                text-align: center;
                color: $white;
            }

        }
    }
    footer{
        background: $white;
        .container{
            @extend .flex-between;
            .main-logo{
                .logo-img{
                    margin: 150px 0;
                    
                }
            }
            .footer-menu{
                margin: 180px 0;
                a{
                    @extend .poppins600;
                    margin: 0 40px;
                    color: #999999;
                    text-decoration: none;
                    font-size: 30px;
                    line-height: 30px;
                    letter-spacing: -0.01em;
                    text-transform: capitalize;
                }
            }
        }
    }
}


// media queries
@media screen and (max-width: 1200px){
   
    header{
        .container{
            .main-logo{
                .logo-img{
                    width: 70%;
                }
            }
            .menu{
                margin: auto 0;
                a{
                    margin: 0 6px;
                    font-size: 17px;
                }
            }
        }
    }

    main{
        .be-part{
            .partner-text{
                width: 50%;
                padding-top: 5%;
                h1{
                    font-size: 58px;
                    margin: auto 0 25px 0;
                }
                p{
                    font-size: 17px;
                    width: 88%;
                    margin-bottom: 20px;
                }
                a{
                    font-size: 17px;
                    margin-left: 5%;
                    
                }
            }
            .be-partner{
                margin: 20px 40px 20px 5px;
                width: 37%;
                .login{
                    font-size: 13px;
                    padding: 20px 0;  
                    .field{
                        width: 80%;
                        }
                    .button{
                        width: 70%;
                        font-size: 15px;
                        padding: 5px 0;
                        margin-top: 25px;
                        }
                }
            }
        }
        .food-rations{
            padding:20px;
            .container{
                .logo{
                    .logo2{
                        width: 60%;
                        margin: 20px 0 0 55px;
                    }
                 }
            .food{
                .text-photo{
                    width: 70%;
                }
            }
            }
        }
        .our-core{
            .container{
                .description{
                    h2{
                        font-size: 40px;
                    }
                    p{
                        font-size: 17px;
                    }
                }
                .photos{
                    width: 80%;
                    .photo{
                        width: 100%;   
                    }
                }
            }
        }
        .payment{
            .container{
                h3{
                    font-size: 35px;
                }
                .container-payment{
                    flex-wrap: nowrap;
                    .card1{
                        margin-top: 35px;
                        width: 27%;
                        border-radius: 15px;
                        margin-bottom: 70px;
                        padding-bottom: 50px;
                        .tittle1{
                            h4{
                                width: 80%;
                                font-size: 18px;
                            }
                        }
                        .check{
                            p{
                                font-size: 14px;
                            }
                        }
                        .money{
                            font-size: 35px;
                        }
                        .button2{
                            .donate{
                                font-size: 15px;
                                padding: 11px 50px;
                            }
                        }
                    }
                    .card2{
                        width: 27%;
                        border-radius: 15px;
                        margin-bottom: 70px;
                        padding-bottom: 50px;
                        .tittle2{
                            h4{
                                width: 80%;
                                font-size: 18px;
                            }
                        }
                        .check{
                            p{  
                                font-size: 14px;
                            }
                        }
                        .money{
                            font-size: 35px;
                        }
                        .button2{
                            .donate{
                                font-size: 15px;
                                padding: 11px 50px;
                            }
                        }
                    }
                }
            }
        }
        .features{
            padding: 30px;
             .container{
                 .card{
                     .image{
                         .icon{
                             width: 50%;
                         }
                     }
                    font-size: 13px;
                    .card-text{
                        width: 180px;
                    } 
    
                }
            }   
        }
        .data{
            .container{
                .graphics{
                    margin: 200px auto;
                }
            }
        }
        .hashtag{
            .container{
                .text-hashtag{
                    font-size: 50px;
                }
            }
        }
        footer{
            .container{
                .main-logo{
                    .logo-img{
                        width: 70%;   
                        margin: 70px 0;
                    }
                }
                .footer-menu{
                    margin: auto 0;
                    a{
                        font-size: 23px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px){
    // header{

    // }
    
    main{
        .be-part{
            .partner-text{
                h1{
                    font-size: 49px;
                }
                p{
                    font-size: 16px;
                    margin-bottom: 30px;
                    margin-left: 22px;
                
                }
                a{
                    padding: 10px 30px;
                }
            }
            .be-partner{
                .login{
                    font-size: 12px;
                    .button{
                        padding: 8px 0;
                    }
                }
            }
        }
        .food-rations{
            .container{
                .logo{
                    .logo2{
                        margin: 22px 0 0 40px;
                    }
                 }
            .food{
                .text-photo{
                    width: 65%;
                }
            }
            }
        }
        .our-core{
            .container{
                .description{
                    h2{
                        font-size: 30px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
                .photos{
                    width: 60%;
                }
            }
        }
        .payment{
            .container{
                h3{
                    font-size: 28px;
                    padding: 30px 0;
                }
                .container-payment{
                    .card1{
                        border-radius: 12px;
                        .tittle1{
                            h4{
                                font-size: 16px;
                            }
                        }
                        .check{
                            p{
                                font-size: 11px;
                            }
                        }
                        .money{
                            font-size: 27px;
                        }
                        .button2{
                            .donate{
                                font-size: 14px;
                                padding: 8px 30px;
                            }
                        }
                    }
                    .card2{
                        border-radius: 12px;
                        .tittle2{
                            h4{
                                font-size: 16px;
                            }
                        }
                        .check{
                            p{  
                                font-size: 11px;
                            }
                        }
                        .money{
                            font-size: 27px;
                        }
                        .button2{
                            .donate{
                                font-size: 14px;
                                padding: 8px 30px;
                            }
                        }
                    }
                }
            }
        }
        .features{
            padding: 10px 30px 30px 30px;
             .container{
                 .card{
                    font-size: 10px;
                }
            }   
        }
        .data{
            .container{
                .graphics{
                    height: 300px;
                    margin: 80px auto;
                    .table{
                        font-size: 8px;
                    }
                    .pacman{
                        font-size: 8px;
                    }
                }
            }
        }
        .hashtag{
            .container{
                .text-hashtag{
                    font-size: 43px;
                }
            }
        }
        footer{
            .container{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                .main-logo{
                    width: 50%;
                    .logo-img{
                        width: 80%;
                        margin: 60px 30px;
                    }
                }
                .footer-menu{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    margin-bottom: 40px;
                    a{
                        font-size: 25px;
                    }
                }
            }
            }
        }
    }



@media screen and (max-width: 768px){
    header{
        .container{
            .main-logo{
                .logo-img{
                    width: 60%;
                }
            }
            .menu{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                a{
                    margin: 5px 6px;
                    font-size: 18px;
                    text-align: left;

                }
                .sum{
                    border: none;
                    padding: 0;
                }
            }
        }
    } 
    main{
        .be-part{
            .container{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: center;
                align-items: center;
            .partner-text{
                width: 100%;
                margin-top: 30px;
                margin-bottom: 40px;
                a{
                    margin-left: auto;
                }
            }
            .be-partner{
                width: 60%;
                margin:0;
            }
        }
    }
        .food-rations{
            .container{
                text-align: center;
                .food{
                    .text-photo{
                        margin-left: 40px;
                    }
                }
                .logo{
                    display: none;
                 }
        }
    }
        .our-core{
            .container{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: center;
                align-items: center;
                .description{
                    width: 100%;
                    margin-bottom: 30px;
                    h2{
                        font-size: 33px;
                    }
                    p{
                        font-size: 16px;
                        width: 90%;
                        margin: auto;
                    }
                }
                .photos{
                    width: 100%;
                    .photo{
                        margin-bottom: 35px;
                    }
                }
            }
        }
        .payment{
            .container{
                .container-payment{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    .card1{
                        width: 40%;
                        .tittle1{
                            h4{
                                font-size: 19px;
                            }
                        }
                        .check{
                            margin-left: 49px;
                            p{
                                font-size: 12px;
                            }
                        }
                        .money{
                            font-size: 29px;
                            .amount{
                                margin-top: 30px;

                            }

                            
                        }
                        .button2{
                            .donate{
                                padding: 10px 40px;
                            }
                        }
                    }
                    .card2{
                        width: 40%;
                        margin-bottom: 40px;
                        .tittle2{
                            h4{
                                font-size: 19px;
                            }
                        
                        }
                        .check{
                            margin-left: 49px;
                            p{
                                font-size: 12px;
                            }
                        }
                        .money{
                            font-size: 29px;
                            .amount{
                                margin-top: 30px;
                            }

                            
                        }
                        .button2{
                            .donate{
                                padding: 10px 50px;
                            }
                        }
                    }
                }
            }
        }
        .features{
             .container{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                .card{
                    font-size: 12px;
                    .card-text{
                        .lorem{
                            letter-spacing: 0;
                        }
                    }

                }
            }   
        }

        .data{
            .container{
                .graphics{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    text-align: center;
                    align-items: center;
                    height: auto;
                    .table{
                        width: 84%;
                        font-size: 12px;
                        margin: 40px 0;
                    }
                    .pacman{
                        width: 70%;
                        font-size: 12px;
                        margin-top: 40px;
                        margin: 30px 0;
                        
                    }
                }
            }
        }
        .hashtag{
            .container{
                .text-hashtag{
                    font-size: 38px;
                }
            }
        }
        footer{
            .container{
                .main-logo{
                    .logo-img{
                        width: 70%;
                    }
                }
                .footer-menu{
                    a{
                        font-size: 20px;
                    }
                }
            }
            
        }
    
}
}

@media screen and (max-width: 540px){
    header{
        .container{
            .main-logo{
                .logo-img{
                    margin: 40px 0 40px 5px;
                }
            }
            .menu{
                width: 50%;
                a{
                    font-size: 17px;
                }
                .transp{
                    display: none;
                }
                .transparencia{
                    display: block;
                }
            }
        }
    } 
    main{
        .be-part{
            .container{
            .partner-text{
                h1{
                    font-size: 48px;
                }
                p{
                    width: 80%;
                    margin-left: 40px;
                }
            }

        }
    }
    //     .food-rations{

    // }
        // .our-core{

        // }
        .payment{
            .container{
                .container-payment{
                    .card1{
                        width: 60%;
                        .tittle1{
                            h4{
                                font-size: 20px;
                            }
                            
                        }

                        .check{
                            margin-top: 30px;
                            margin-left: 50px;
                            margin-bottom: 40px;
                            p{
                                font-size: 13px;
                            }
                        }
                    }
                    .card2{
                        width: 60%;
                        .tittle2{
                            h4{
                                font-size: 20px;
                            }
                        }
                        .check{
                            p{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
        // .features{   
        // }

        // .data{
        //     .container{
        //         .graphics{
        //         }
        //     }
        // }
        // .hashtag{
        //     .container{

        //     }
        // }
        footer{
            .container{
                .main-logo{
                    .logo-img{
                        width: 80%;
                    }
                }
                .footer-menu{
                    a{
                        font-size: 18px;
                    }
                }
            }   
        }
    }
}
@media screen and (max-width: 480px){
    header{
        .container{
            .menu{
                a{
                    font-size: 16px;
                }
                .our{
                    display: none;
                }
                .we{
                    display: block;
                }
            }
        }
    } 
    main{
        .be-part{
            .container{
            .partner-text{
                h1{
                    font-size: 40px;
              
                }
                p{
                    font-size: 16px;
                    margin-bottom: 45px;
                    margin-left: 30px;

                }
                a{
                    font-size: 18px;
                    padding: 10px 30px;
                }
            }
            .be-partner{
                width: 90%;
                .login{
                    font-size: 14px;
                    .button{
                        font-size: 17px;
                        padding: 15px 0;
                    }
                    .field{
                        padding: 20px;
                    }
                }
            }
        }
    }
        .food-rations{
            .container{
                .food{
                    .text-photo{
                        width: 85%;
                        margin-left: 10px;
                    }
                }
        }
    }
        .our-core{
            .container{
                .description{
                    h2{
                        font-size: 37px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
        .payment{
            .container{
                h3{
                    font-size: 30px;
                }
                .container-payment{
                    .card1{
                        width: 70%;
                        .tittle1{
                            h4{
                                font-size: 19px;
                            }                          
                        }
                        .check{
                            margin-left: 30px;
                        }
                        .button2{
                            .donate{
                                font-size: 17px;
                                padding: 12px 33px;
                            }
                        }
                    }
                    .card2{
                        width: 70%;
                        .tittle2{
                            h4{
                                font-size: 19px;
                            }
                           
                        }
                        .check{
                            margin-left: 30px;
                        }
                        .button2{
                            .donate{
                                font-size: 17px;
                                padding: 12px 33px;
                            }
                        }
                    }
                }
            }
        }
        .features{
            .container{
                .card{
                    font-size: 13px;
                }

            }   
        }
        .data{
            .container{
                .graphics{
                    width: 76%;
                    .pacman {
                        .circle-img {
                            width: 55%;
                        }
                    }
                }
            }
        }
        .hashtag{
            .container{
                .text-hashtag{
                    font-size: 27px;
                }
            }
        }
        footer{
            .container{
                .main-logo{
                    .logo-img{
                        width: 100%;
                    }
                }
            }
            
        }
    
}

}
@media screen and (max-width: 376px){
    header{
        .container{
            .menu{
                a{
                    margin: 1px 1px;  
                }
            }
        }
    } 
    main{
    //     .be-part{
    // }
    //     .food-rations{
    // }
    //     .our-core{
    //         .container{
    //         }
    //     }
        .payment{
            .container{
                .container-payment{
                    .card1{
                        width: 76%;
                        .check{
                            p{
                                font-size: 13px;
                            }
                        }
                    }
                    .card2{
                        width: 76%;
                        .check{
                            p{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    //     .features{
    //         .container{

    //         }   
    //     }
        .data{
            .container{
                .graphics{
                    width: 80%;
                    .table{
                        font-size: 11px;
                        margin-top: 40px; 
                        margin-bottom: 20px;
                        width: 90%;
                    }
                    .pacman{
                        font-size: 11px;
                        margin-top: 40px;
                        .circle-img{
                            width: 55%;
                        }
                    }
                }
            }
        }
//         .hashtag{
//             .container{
//             }
//         }
//         footer{
//             .container{
//             }            
//         }
    
}
}
@media screen and (max-width: 340px){
    header{
        .container{
            .menu{
                a{
                    font-size: 14px;
                }
            }
        }
    } 
    main{
        .be-part{
            .container{
            .partner-text{
                h1{
                    font-size: 36px;
              
                }
                p{
                    font-size: 14px;
                    margin: 10px auto 40px;

                }
                a{
                    font-size: 15px;
                    padding: 14px 18px;
                }
            }
            .be-partner{
                .login{
                    font-size: 13px;
                }
            }
        }
    }
    //     .food-rations{
    //         .container{
    //     }
    // }
        .our-core{
            .container{
                .photos{
                    .photo{
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .payment{
            .container{
                .container-payment{
                         flex-wrap: nowrap;
                    .card1{
                        width: 86%;
                    }
                    .card2{
                        width: 86%;
                    }
                }
            }
        }
        //     .features{
        //         .container{
         //         }   
        //     }
        // .data{
        //     .container{
        //     }
        // }
        .hashtag{
            .container{
                .text-hashtag{
                    font-size: 23px;
                }
            }
        }
        footer{
            .container{
                .main-logo{
                    .logo-img{
                        margin: 40px 20px;
                        width: 80%;
                    }
                }
                .footer-menu{
                    a{
                        font-size: 16px;
                    }
                }
            }
            
        }
}
}



